/* Global */
a:hover {
    text-decoration: none;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.position-relative {
    position: relative;
}

.pb-0 {
    padding-bottom: 0;
}

.p-0 {
    padding: 0 !important;
}

.pb-3 {
    padding-bottom: 3rem !important;
}

.pt-3 {
    padding-top: 3rem !important;
}

.border-none {
    border: 0 !important;
}

.c-margin-auto {
    display: block;
    margin: 0 auto;
    float: none !important;
}

.custom-bg-table {
    background-color: #31333e;
}

.custom-bg-button {
    background-color: #009ad8;
    color: #FFF;
}

.custom-bg-button:hover {
    background-color: #005c82;
    color: #FFF;
}

.post:last-child {
    border-bottom: none;
}

/* Tables */
.font-danger-bold {
    color: #e81c30;
    font-weight: bold;
}

/* Last 24 hours (last24.php) */
table.forecast-table {
    background: #323544;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 3rem;
}


/* Drain1.php */
section#drain1 .forecast-table .forecast-content > div {
    margin-bottom: 8px;
}

/* flood.html */
section#flood table > thead {
    background-color: #1e2027;
    color: white;
    text-align: center;
}

/* Index */
main#index .forecast-content, main#index .forecast-content > span {
    display: block;
    width: 100%;
}

main#index .forecast-content > span > img {
    margin-right: 1rem;
    vertical-align: middle;
}

main#index .forecast-table .forecast {
    position: relative;
    height: 100%;
}

main#index .forecast-table .today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

main#index .forecast-table .forecast .degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main#index .forecast-table .forecast .degree > h1 {
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    margin: 0;
    font-size: 30px;
    justify-content: center;
}

main#index .forecast-table .forecast .degree > div.num {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 3rem;
    margin: 0;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 25px;
    color: #FFF;
}

/* Media Queries */
@media (max-width: 1200px) {
    main#last24 table.forecast-table {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    
}


@media(max-width: 992px) {
}